[Desktop Entry]
Name=Decks
GenericName=Presentation
Comment=A GNOME presentation app
Exec=decks
Icon=org.tunaos.decks
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;Presentation;
StartupNotify=true
